.container{
    width:100%;
    text-align: center;
    padding-bottom: 2rem;
}

.title-tile {
    font-size:2rem;
    font-weight: bolder;
    background-color: aqua;
}

.title {
    
    position: absolute;
}

.content{
    font-size: 1.5rem;
    font-weight: bold;
}