<section class="login-form">
    <form
      fxLayout="column"
      #loginForm="ngForm"
      fxLayoutAlign="center center"
      (ngSubmit)="login()"
      fxLayoutGap="10px">
      <mat-form-field>
        <input
          name="username"
          [(ngModel)]="model.username"
          type="text"
          matInput
          placeholder="Username"
          required>
          <mat-error>Campo obbligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          name="password"
          type="password"
          [(ngModel)]="model.password"
          matInput
          placeholder="Password"
          required>
        <mat-error>Campo obbligatorio</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid">Accedi</button>
    </form>
  </section>
  <app-change-profile></app-change-profile>