<section class="login-form">
    <form
      [formGroup]='loginForm'
      fxLayout="column"
      fxLayoutAlign="center center"
      (ngSubmit)="login()"
      fxLayoutGap="10px">
      <mat-form-field>
        <input
          [class.is-invalid]='loginForm.get("username")?.errors && loginForm.get("username")?.touched'
          formControlName='username'
          type="text"
          matInput
          placeholder="Username"
          >
          <mat-error>Campo obbligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          [class.is-invalid]='loginForm.get("password")?.errors && loginForm.get("password")?.touched'
          formControlName='password'
          type="password"
          matInput
          placeholder="Password"
          >
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Campo obbligatorio</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Lunghezza minima 4 caratteri</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('passwordStrength')">Richesti almeno una lettera minuscola, una maiuscola, un numero ed un carattere speciale !@#$%^&*)</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid">Accedi</button>
    </form>
  </section>
