<mat-dialog-content class="mat-typography" #closeAddExpenseModal>
  <h1> {{chgProfile}}</h1>

<section class="login-form">
    <form 
    [formGroup]="changeProfileForm"
      fxLayout="column"
      (ngSubmit)="changeProfile()"
      fxLayoutAlign="center center"
      fxLayoutGap="10px">
      <mat-form-field>
        <input
        class="noinput form-control"
          formControlName="username"
          type="text"
          matInput
          value={{currentUser.username}}
          [disabled]=true
          readonly
          >
      </mat-form-field>
      <mat-form-field>
        <input
          class="noinput form-control"
          formControlName="role"
          type="text"
          matInput
          value={{currentUser.role}}
          [disabled]=true
          readonly
          >
        </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder="prova@example.com"
          [class.is-invalid]='changeProfileForm.get("email")?.errors && changeProfileForm.get("email")?.touched'
          >
          <mat-error *ngIf="changeProfileForm.get('email')?.hasError('required')"><strong>{{requiredFieldError}}</strong></mat-error>
          <mat-error *ngIf="changeProfileForm.get('email')?.hasError('pattern')">Formato email non valido</mat-error>

      </mat-form-field><mat-dialog-actions>
      <button
        type="salva"
        mat-raised-button
        color="primary"
        [disabled]="changeProfileForm.invalid">{{saveButton}}</button>
        <button
        mat-button mat-dialog-close
        mat-raised-button
        color="primary"
        >{{discardButton}}</button>
      </mat-dialog-actions>
    </form>
  </section>
  <!-- pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%^&*])" -->
  <!-- [class.is-invalid]='changePasswordForm.get("repeatPassword")?.errors && changePasswordForm.get("repeatPassword")?.touched' -->
</mat-dialog-content>
