<h1>

</h1>
<section class="login-form">
    <form 
    [formGroup]="changeProfileForm"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px">
      <mat-form-field>
        <input
        class="noinput form-control"
          formControlName="username"
          type="text"
          matInput
          placeholder="Username"
          [disabled]=true
          readonly
          >
      </mat-form-field>
      <mat-form-field>
        <input
          class="noinput form-control"
          formControlName="role"
          type="text"
          matInput
          placeholder="Ruolo"
          [disabled]=true
          readonly
          >
        </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder=" "
          [class.is-invalid]='changeProfileForm.get("email")?.errors && changeProfileForm.get("email")?.touched'
          >
          <mat-error *ngIf="changeProfileForm.get('email')?.hasError('required')"><strong>Campo obbligatorio</strong></mat-error>
          <mat-error *ngIf="changeProfileForm.get('email')?.hasError('pattern')">Formato email non valido</mat-error>

      </mat-form-field>
      <button
        type="salva"
        mat-raised-button
        color="primary"
        [disabled]="true">Salva</button>
        <button
        type="chiudi"
        mat-raised-button
        color="primary"
        [disabled]="true">Chiudi</button>
    </form>
  </section>
  <!-- pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%^&*])" -->
  <!-- [class.is-invalid]='changePasswordForm.get("repeatPassword")?.errors && changePasswordForm.get("repeatPassword")?.touched' -->
