<mat-toolbar 
  color="primary" class="toolbar" 
  [ngClass]="{'smaller': sidenavOpened}">
    <mat-toolbar-row>
      <div>LOGO</div>
      <div
      fxFlex
      fxLayout
      fxLayoutAlign='end'
      >
      <ul
        fxLayout
        class="navigation-items"
        fxLayoutGap="10px">
        <li *ngIf="(accountService.currentUser$  | async ) === null ">
          <a routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
          </a>
        </li>
        <li *ngIf="(accountService.currentUser$  | async ) !== null ">
          <button mat-button (click)="logout()" style="font-size: 1.1rem;">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </li>
        <li *ngIf="(accountService.currentUser$  | async ) !== null ">
          <button mat-button [matMenuTriggerFor]="belowMenu" style="font-size: 1.1rem;">
            <mat-icon>account_box</mat-icon>
            {{manageProfile}}
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <p style="text-align: center;">{{user.username}}({{user.role}})</p>
            <button mat-menu-item (click)="openChangeProfile()" ><mat-icon>account_box</mat-icon>{{changeProfile}}</button>
            <button mat-menu-item (click)="openChangePassword()" ><mat-icon>manage_accounts</mat-icon>{{changePassword}}</button>
          </mat-menu>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="languageMenu" style="font-size: 1.1rem;">
            <mat-icon>language</mat-icon>
            {{languageLabel}}
          </button>
          <mat-menu #languageMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="changeLanguage('it')" >{{italian}}</button>
            <button mat-menu-item (click)="changeLanguage('en')" >{{english}}</button>
          </mat-menu>
        </li>
      </ul>
    </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button
      type="button"
      aria-label="Toggle sidenav"
      (click)="sidenavToggle()"
      mat-icon-button
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span style="margin:auto">{{pageTitle}} {{pageDescription}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
