<mat-toolbar color="primary">
  <!--fxHide.gt-xs-->
  <mat-toolbar-row>
  <div *ngIf="(accountService.currentUser$  | async ) !== null ">
    <button
      (click)="onToggleSideNav()"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>LOGO</div>
  <!--fxHide.xs-->
  <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end">
    <ul
      fxLayout
      class="navigation-items"
      fxLayoutGap="10px">
      <li *ngIf="(accountService.currentUser$  | async ) === null ">
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </li>
      <li *ngIf="(accountService.currentUser$  | async ) !== null ">
        <button mat-button (click)="logout()" style="font-size: 1.1rem;">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </li>
      <li *ngIf="(accountService.currentUser$  | async ) !== null ">
        <button mat-button [matMenuTriggerFor]="belowMenu" style="font-size: 1.1rem;">
          <mat-icon>account_box</mat-icon>
          Gestisci Profilo
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <p style="text-align: center;">{{user.username}}({{user.role}})</p>
          <button mat-menu-item (click)="openChangeProfile()" ><mat-icon>account_box</mat-icon>Modifica Profilo</button>
          <button mat-menu-item (click)="openChangePassword()" ><mat-icon>manage_accounts</mat-icon>Modifica Password</button>
        </mat-menu>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="languageMenu" style="font-size: 1.1rem;">
          <mat-icon>language</mat-icon>
          {{languageLabel}}
        </button>
        <mat-menu #languageMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="changeLanguage('it')" >{{italian}}</button>
          <button mat-menu-item (click)="changeLanguage('en')" >{{english}}</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar-row>
<mat-toolbar-row>
  <span style="margin:auto">{{pageTitle}} {{pageDescription}}</span>
</mat-toolbar-row>
</mat-toolbar>


