<mat-toolbar color="primary">
  <!--fxHide.gt-xs-->
  <div>
    <button
      (click)="onToggleSideNav()"
      mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  <div>LOGO</div>
  <!--fxHide.xs-->
  <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end">
    <ul
      fxLayout
      class="navigation-items"
      fxLayoutGap="10px">
      <li>
        <a routerLink="/login">
          <mat-icon>input</mat-icon>
          Login
        </a>
      </li>
      <li>
        <a routerLink="/threats">
          <mat-icon>flash_on</mat-icon>
          Threats</a>
      </li>
      <li>
        <a routerLink="/changeprofile">
          Modifica profilo</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
