<div class="container">
    <form 
        [formGroup]="timeForm"
        (ngSubmit)="configure()"
        class="form"
    >

    <div class="time">
        <mat-label>{{timezoneLabel}}</mat-label>
        <mat-select formControlName="timezone">
            <mat-option *ngFor="let timezone of timezones" [value]="timezone.name">
                {{timezone.name}}
            </mat-option>
        </mat-select>

         <!-- <p>{{ dateView.value | date: 'yyMMdd' }} -- {{ timeView.value}}</p> 
         -->
         <input type="button" (click)="formatTime()" >
         
         <mat-label class="radioLabel">{{dateLabel}}</mat-label>
         <mat-form-field class="full-width" appearance="fill">
            <input matInput type="date" formControlName='datetime'>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <input matInput value="00:00:00" type="time" step="1" formControlName='time'>
        </mat-form-field>
        
    </div>

    <div>
        <button
            mat-raised-button
            color="primary"
            class="button"
            type="submit"
            >{{configureButtonLabel}}
        </button>
    </div>

</form>
</div>



