
.label {
    position: absolute;
    right: 5px;
    font-size:larger;
    /* font-weight: bold; */
    font-size: 1.5rem;
  }

.title-tile {
    font-size:2rem;
    font-weight: bolder;
  }

  .title {
    position: absolute;
    left: 30rem;
  }

  .content {
    position: absolute;
    left: 1rem;
    /* font-weight: bold; */
    font-size: 1.5rem;
  }

