<mat-grid-list 
   cols="2" 
   rowHeight="2rem"
   gutterSize="2px"
   text-align= "left">
   <mat-grid-tile colspan="2" class="title-tile"><div class="title">LOCALIZZAZIONE:</div></mat-grid-tile>
</mat-grid-list>
<div class="main-container">
    <script src="//cdn.amcharts.com/lib/5/index.js"></script>
    <script src="//cdn.amcharts.com/lib/5/map.js"></script>
    <script src="//cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <div id="chartdiv"></div>
</div>