<mat-radio-group class="mat-radio-label" aria-label="Select an option">
<mat-list>
    <mat-list-item><mat-radio-button value="-1" (click)="setChecked(-1)" [checked]="checked===-1">ultima ora </mat-radio-button>
    <mat-radio-button style="margin-left: 37px;"value="-6" (click)="setChecked(-6)" [checked]="checked===-6">ultime 6 ore</mat-radio-button>
    <mat-radio-button style="margin-left: 28px;" value="-12" (click)="setChecked(-12)" [checked]="checked===-12">ultime 12 ore</mat-radio-button>
</mat-list-item>
<mat-list-item>
    <mat-radio-button value="1" (click)="setChecked(1)" [checked]="checked===1">ultime 24 ore</mat-radio-button>
    <mat-radio-button  value="7" (click)="setChecked(7)" [checked]="checked===7">ultimi 7 giorni</mat-radio-button> 
    <mat-radio-button  value="30" (click)="setChecked(30)" [checked]="checked===30">ultimi 30 giorni</mat-radio-button>
</mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="getThreats()">Cerca</button>
 </mat-radio-group>
