.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    flex-direction: column-reverse;
}
