.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    flex-direction: column-reverse;
    margin-top: 3rem;

}
.container{
  width:100%;
  text-align: center;
}
.form-element.buttons{
  text-align: right;
  display: inline-fles;
}
.searchButton{
  text-align: right;
}
.radioBtn{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  
}

mat-radio-button{
  font-size: 1.5rem;
  font-weight: bold;
}

.button{
  left:100%;
}
