.radioBtn{
   margin-left: 4rem;
}

mat-radio-button{
  /* font-size: 1.5rem;*/
  font-weight: bold;
}

mat-radio-group{
  display: flex; 
  flex-direction: column;
  margin: 2% 0;
}

.button{
  margin-left:3%;
}
