<div class="container" >
    <mat-radio-group 
        class="mat-radio-label" 
        [(ngModel)]="choosenRange">
        <mat-list>
            <mat-radio-button
                *ngFor="let range of ranges"
                [value]="range.value"
                class="radioBtn"
            >{{range.message}}
            </mat-radio-button>
            <button class="button" mat-raised-button color="primary" (click)="getThreats()">{{search}}</button>
        </mat-list>
    </mat-radio-group>
</div>
