<h1>Range temporale:
</h1><mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Minacce dell’ultima ora</mat-radio-button>
    <mat-radio-button value="2">Minacce delle ultime 6 ore</mat-radio-button>
    <mat-radio-button value="2">Minacce delle ultime 12 ore</mat-radio-button>
    <mat-radio-button value="2">Minacce delle ultime 24 ore</mat-radio-button>
    <mat-radio-button value="2">Minacce delle ultime 7 giorni</mat-radio-button>
    <mat-radio-button value="2">Minacce delle ultime 30 giorni</mat-radio-button>
  </mat-radio-group>
  <button class="btn btn-outline-primary mr-3">Cerca</button>