<mat-grid-list 
   cols="2" 
   rowHeight="2rem"
   gutterSize="2px"
   text-align= "left">

</mat-grid-list>


   <div class="container">                      
    <div class="row">
        <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">{{ipSrcSrcPort}}</p>
                        <p class="h6 text-muted mb-0 mb-lg-0">{{threat.ipSrc}}:{{threat.portSrc}} </p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <div >
                            <div class="inner-circle2 timeline-icon one"></div>
                            <i class="fa fa-pencil" style="color: black;"></i>
                        </div>
                        
                        <div>
                        <p class="h6 text-muted mb-0 mb-lg-0">{{protocol}}</p>
                        <p class="h6 text-muted mb-0 mb-lg-0">{{threat.protocol}}</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">{{ipDstDstPort}}</p>
                        <p class="h6 text-muted mb-0 mb-lg-0">{{threat.ipDst}}:{{threat.portDst}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>