<mat-dialog-content class="mat-typography">
<h1> Modifica Password</h1>
<section class="login-form">
    <form
      [formGroup]="changePasswordForm"
      fxLayout="column"
      fxLayoutAlign="center center"
      (ngSubmit)="changePassword()"
      fxLayoutGap="10px">
      <mat-form-field>
        <input
          formControlName="oldPassword"
          type="password"
          matInput
          placeholder="Inserisci Vecchia Password"
          [class.is-invalid]='changePasswordForm.get("oldPassword")?.errors && changePasswordForm.get("oldPassword")?.touched'
          >
          <mat-error>Campo obbligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="newPassword"
          type="password"
          matInput
          placeholder="Inserisci Nuova Password"
          [class.is-invalid]='changePasswordForm.get("newPassword")?.errors && changePasswordForm.get("newPassword")?.touched'
          >
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">Campo obbligatorio</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">Lunghezza minima 8 caratteri</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')">Lunghezza massima 32 caratteri</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('newPasswordStrength')">Richesti almeno una lettera minuscola, una maiuscola, un numero ed un carattere speciale !@#$%^&*)</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError">Le due password devono essere uguali</mat-error>

      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="repeatPassword"
          type="password"
          matInput
          placeholder="Ripeti Nuova Password"
          [class.is-invalid]='changePasswordForm.get("repeatPassword")?.errors && changePasswordForm.get("repeatPassword")?.touched'
          >
          <mat-error *ngIf="changePasswordForm.get('repeatPassword')?.hasError('required')">Campo obbligatorio</mat-error>
          <mat-error *ngIf="changePasswordForm.get('repeatPassword')?.hasError">Le due password devono essere uguali</mat-error>
          
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="changePasswordForm.invalid">Salva</button>
        <mat-dialog-actions>
          <button mat-button mat-dialog-close
          mat-raised-button
          color="primary">Annulla</button>
          <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        </mat-dialog-actions>
    </form>
  </section>
</mat-dialog-content>

  <!-- pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%^&*])" -->
  <!-- [errorStateMatcher]="matcher" -->