.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    flex-direction: column-reverse;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

mat-radio-button{
  font-size: 1.5rem;
  font-weight: bold;
}

button{
  font-size:1.5rem;
  left:45%;
  margin-top: 3rem;
}

.title-tile {
  font-size:2rem;
  font-weight: bolder;
  background-color: aqua;
}

.title {
  position: absolute;
  
}
mat-progress-spinner{
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 10;
}
