button{
  font-size:1.2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.header-cell{
  font-size: 1.2rem;
  width:30rem;
  text-align: center;
  font-weight: bold;
}

table{
  position: relative;
  width:40%;
  left:30%;
}

.radioBtn{
  margin-left: 4rem;
}

mat-radio-button{
 /* font-size: 1.5rem;*/
 font-weight: bold;
}

