<div class="container">
    <form 
        [formGroup]="filterForm"
        (ngSubmit)="filter()"
        class="form"
    >

    <div class="form-element buttons">
        <button mat-raised-button color="primary" type="submit" class="button" >{{filterAll}}</button>
        <button mat-raised-button color="primary"  class="button" (click)="resetFilters()">{{clearAll}}</button>
    </div>

    <mat-form-field appearance="fill" class="form-element">
        <mat-label>{{severity}}</mat-label>
        <select 
            matNativeControl 
            required 
            formControlName='severity'
            [(ngModel)]="selectedOption">
            <option value="undefined">{{all}}</option>
            <option value="low">{{low}}</option>
            <option value="medium">{{medium}}</option>
            <option value="high">{{high}}</option>
            <option value="critica">{{critical}}</option>
        </select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ipSource}}</mat-label>
        <input matInput formControlName='ipSrc'>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ipSource}}</mat-label>
        <input matInput formControlName='ipDst'>
    </mat-form-field>
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>{{keyWord}}</mat-label>
      <input matInput formControlName='label'>
    </mat-form-field>
  </form>
</div>
