.form {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .full-width {
    width: 27%;
  }

  .container{
      width:100%;
      text-align: center;
  }

  .button{
      margin-bottom: .5rem;
      margin-right: 2rem;
      font-size: 1.5rem;
  }

  .form-element.buttons{
    text-align: right;
  }

