button{
  font-size:1.2rem;
  border-radius: 1rem;
  top:5rem;
  left:3rem
}

.header-cell{
  font-size: 1.2rem;
  width:30rem;
  text-align: center;
  font-weight: bold;
}

table{
  position: relative;
  width:40%;
  left:30%;
}


mat-radio-button{
  position:absolute;
  font-weight: bold;
  left:43%;
}

mat-label{
  font-size:1.3rem;
  font-weight: bold;
  color:grey;
  margin-right: 2rem;
}

.radioLabel{
  position:absolute;
 margin-right: 0rem;
 left:36.5%;
}

.rightRadio{
  margin-left: 10rem;
}


.field{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.full-width{
  font-size: 1.3rem;
  width:15%;
}


