<div class="container">
    <form 
        [formGroup]="ntpForm"
        (ngSubmit)="configure()"
        class="form"
    >

    <div>
        <mat-label>{{NTPServerLabel}}</mat-label>
        <mat-form-field class="full-width" appearance="fill">
            <input 
            matInput formControlName='serverName'>
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            class="button"
            type="submit"
            [disabled]="ntpForm.invalid"
            >{{configureButtonLabel}}
        </button>
    </div>

    <div class="field">
        <mat-label class="radioLabel">{{enabledButtonlabel}}</mat-label>
       <mat-radio-group
          formControlName='enabled'
          aria-label="Select an option"
          [(ngModel)]="ntpEnabled">
          <mat-list>
              <mat-radio-button
                *ngFor="let configMode of configModes"
                [value]="configMode.value"
                [ngClass]="{'rightRadio': configMode.value , 'leftadio': !configMode.value}" 
                [disabled]="ntpForm.invalid">
                {{configMode.message}}
              </mat-radio-button>
          </mat-list>
            <!-- <mat-radio-button value="true">{{yesButtonlabel}}</mat-radio-button>
            <mat-radio-button class="rightRadio" value="false">{{noButtonlabel}}</mat-radio-button> -->
        </mat-radio-group>
    </div>

</form>
</div>