

.title-tile {
    font-size:1.2rem;
    font-weight: bolder;
    background-color: aqua;
  }

  .title {
    position: absolute;
    left: 30rem;
  }


  .table{
    width:70%;
    position:absolute;
    text-align: center;
    left:20%;
    margin-top: 1rem;
    padding-bottom: 8rem;
   }
   
   .mat-column-id {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 5% !important;
     width:5% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-ioc {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 5% !important;
     width: 5% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-description {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 40% !important;
     width: 40% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-threatLevel {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 40% !important;
     width: 40% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-label {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
  
  th.mat-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color:lightblue; 
    width:100%;
  }
  
  td.mat-cell{
    font-size: 1rem;
    width:100%;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
  }

  button{
    position:realtive;
    left:95%;
    top:8rem;
}

  
