<mat-grid-list 
   cols="2" 
   rowHeight="2rem"
   gutterSize="2px"
   text-align= "left">
   <mat-grid-tile colspan="2" class="title-tile"><div class="title">{{threatDatas}} :</div></mat-grid-tile>
   <mat-grid-tile></mat-grid-tile><mat-grid-tile></mat-grid-tile>
   <mat-grid-tile><div class="label">{{identifier}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.threatId}}</div></mat-grid-tile>
   <mat-grid-tile><div class="label">{{severity}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.severity}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">TIMESTAMP :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.ts | date : 'd/M/yyyy h:mm a'}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label" style="background-color: yellow;">{{ruleName}} :</div></mat-grid-tile><mat-grid-tile><div style="background-color: yellow;" class="content">{{threat.label}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">{{typeRule}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.typeRule}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">KILL CHAIN :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.killChain}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">{{family}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.family}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">{{action}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.action}} </div></mat-grid-tile>
   <mat-grid-tile><div class="label">{{threatMessage}} :</div></mat-grid-tile><mat-grid-tile><div class="content">{{threat.msg}} </div></mat-grid-tile>
   <mat-grid-tile></mat-grid-tile><mat-grid-tile></mat-grid-tile>