<div class="main-container">
    <ng-container>
        <section>
          <app-feeler-status [feeler]="feeler"></app-feeler-status>
        </section>
        <hr>
        <section>
          <app-system-restart></app-system-restart>
        </section>
        <hr>
        <section>
          <app-ntp-configuration></app-ntp-configuration>
        </section>
        <hr>
        <section>
          <app-system-time></app-system-time>
        </section>
        <hr>
    </ng-container>
  </div>
  
  
  
