<mat-progress-spinner
*ngIf="loading"
    diameter="80"
    mode="indeterminate">
</mat-progress-spinner>



<div class="container" [ngClass]="{'modal':loading}">

  <div class="action-buttons" >
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="headers-align" multi>
  
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{feelerServiceStatus}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>miscellaneous_services</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <app-feeler-status [feeler]="feeler"></app-feeler-status>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{systemRebootTitle}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>miscellaneous_services</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-system-restart></app-system-restart>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="true" [ngClass]="{'modal':feeler.status === 'suspended'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{configureNTPServerTitle}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>miscellaneous_services</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-ntp-configuration></app-ntp-configuration>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" [ngClass]="{'modal':feeler.status === 'suspended'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{manualTimeSettingTitle}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>miscellaneous_services</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-manualtime-setting></app-manualtime-setting>
    </mat-expansion-panel>
  
  </mat-accordion>  
</div>

  
  
  
