
<section style="text-align:center">
  <h1>THREATS</h1>
</section>
<!-- <div class="threats" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <h1>THREATS</h1>
    <p>Qui il grafico a barre temporale per attacco e severity</p>
  </section>
  <section>
    <h1>THREATS</h1>
    <p>Parametri di ricerca da inviare al beck-end</p>
  </section>
  <section>
    <h1>THREATS</h1>
    <p>Filtri aggiuntivi manipolazione dinamica dataset da beck-end</p>
  </section>
  <section>
    <h1>THREATS</h1>
    <p>Elenco minacce trovate che soddisfano i filtri di recerca</p>
  </section>
</div> -->
<app-threats-diagrams></app-threats-diagrams>
<app-threats-search-parameters></app-threats-search-parameters>
<app-threats-table></app-threats-table>
