<!-- <button (click)="addTime()" class="btn btn-outline-primary mr-3">aggiungi tempo</button> -->
<div class="center">
<div>
  <!-- <div >
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
        >
    </canvas>
</div> -->
<div class="canvass" style="display: block;" align="center">
  <canvas baseChart width="600" height="300"
    [chartType]="barChartType"
    [legend]="barChartLegend"    
    [datasets]="bubbleChartData"
    [options]="barChartOptions">    
  </canvas>
</div>
</div>
  </div>
