.canvass{
    
    text-align: center;
   
}
canvas{
    
    /* height:600px !important; */
    margin: 0 auto;
  
  }
div {
    display:inline-block;
    
} 
.center {
    display: flex;
    justify-content: center;
  }
  