
.label {
    position: absolute;
    right: 5px;
    font-size:larger;
    font-weight: bold;
    font-size: 1.1rem;
  }

.title-tile {
    font-size:1.2rem;
    font-weight: bolder;
    background-color: aqua;
  }

  .title {
    position: absolute;
    left: 30rem;
    font-size: 2rem;
  }

  .content {
    cursor:pointer;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  button{
    font-weight:550;
  }

  

