<mat-nav-list class="nav-list">
  <mat-list>
    <!-- <mat-list-item>
      <mat-icon>dashboard_customize</mat-icon>
      <div mat-line>Configure Dashboard</div>
    </mat-list-item> -->
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/threats">
      <mat-icon>flash_on</mat-icon>
      <div mat-line style="font-weight: bold;">Threats</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Administration</div>
    <mat-list-item *ngIf="role === 'admin'" routerLink="/users-administration">
      <mat-icon>people_outline</mat-icon>
      <div style="font-weight: bold;"  mat-line>Users</div>
    </mat-list-item>
    <!-- <mat-list-item>
      <mat-icon>dns</mat-icon>
      <div mat-line>Network Addresses</div>
    </mat-list-item> -->
    <!-- <mat-list-item>
      <mat-icon>compass_calibration</mat-icon>
      <div mat-line>Network Services</div>
    </mat-list-item> -->
    <mat-divider></mat-divider>
    <!-- <div mat-subheader>External Servicies</div>
    <div mat-subheader>Technical Configuration</div>
    <div mat-subheader>IDS/IPS</div> -->
    <mat-list-item *ngIf="role === 'admin'" routerLink="/system-control">
      <mat-icon>admin_panel_settings</mat-icon>
      <div mat-line style="font-weight: bold;">System C&C</div>
    </mat-list-item>
    <!-- <div mat-subheader>System C&C</div>
    <div mat-subheader>Activity Tracking</div> -->
  </mat-list>
</mat-nav-list>
