
<!-- <table mat-table [dataSource]="datasource">

</table> -->

<mat-dialog-content >
    <mat-grid-list 
      class="container"
       cols="3" 
       rowHeight="2rem"
       gutterSize="2px"
       text-align= "left">
       <mat-grid-tile colspan="3"></mat-grid-tile>
       <mat-grid-tile colspan="1" rowspan="1"><div class="label">{{currentStatus}} :</div></mat-grid-tile>
       <mat-grid-tile colspan="1" rowspan="1"> 
            <button
                [disabled]="true"
                [ngClass]="{'active':feeler.status === 'active', 'suspended':feeler.status === 'suspended'}">
                    {{feeler.status}}
       </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1"><button *ngIf="feeler.status === 'active'" mat-raised-button color="accent" (click)="stopFeeler()">{{shutdownBtn}}</button></mat-grid-tile> 
    </mat-grid-list>
       
</mat-dialog-content>
       


