
.label {
  position: absolute;
  right: 5px;
  font-size:larger;
  font-weight: bold;
  font-size: 1rem;
}


.active{
  background-color: green;
  color:white;
  font-weight: bold;
  width:9rem;
}

.suspended{
  background-color: gray;
  color:black;
  font-weight: bold;
  width:9rem;
}

.title {
  position: absolute;
  
}

.content {
  position: absolute;
  font-weight: bolder;
  font-size: 1.8rem;
  left:2rem;
}


button{
  font-size:1.2rem;
  border-radius: 1rem;
}

.container{
  text-align: center;
}

.header-cell{
  font-size: 1.2rem;
  width:30rem;
  text-align: center;
  font-weight: bold;
}

table{
  position: relative;
  width:40%;
  left:30%;
}

