<div>
    <button (click)="getThreats(1)">getThreats(1)</button>
    <button (click)="getThreats(-6)">getThreats(-6)</button>
  </div>
<table mat-table [dataSource]="threats">

    <ng-container matColumnDef="TimeStamp">
        <th mat-header-cell *matHeaderCellDef>TimeStamp</th>
        <td mat-cell *matCellDef="let element">{{element.ts}}</td>
    </ng-container>

    <ng-container matColumnDef="Identificativo">
        <th mat-header-cell *matHeaderCellDef>Identificativo</th>
        <td mat-cell *matCellDef="let element">{{element.threatId}}</td>
    </ng-container>

    <ng-container matColumnDef="IPSorgente">
        <th mat-header-cell *matHeaderCellDef>IP Sorgente</th>
        <td mat-cell *matCellDef="let element">{{element.ipSrc}}</td>
    </ng-container>

    <ng-container matColumnDef="IPDestinatario">
        <th mat-header-cell *matHeaderCellDef>IP Destinatario</th>
        <td mat-cell *matCellDef="let element">{{element.ipDst}}</td>
    </ng-container>

    <ng-container matColumnDef="NomeRegola">
        <th mat-header-cell *matHeaderCellDef>Nome Regola</th>
        <td mat-cell *matCellDef="let element">{{element.label}}</td>
    </ng-container>

    <ng-container matColumnDef="TipoRegola">
        <th mat-header-cell *matHeaderCellDef>Tipo Regola</th>
        <td mat-cell *matCellDef="let element">{{element.typeRule}}</td>
    </ng-container>

    <ng-container matColumnDef="Gravita">
        <th mat-header-cell *matHeaderCellDef>Gravità</th>
        <td mat-cell *matCellDef="let element">{{element.severity}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns:columnsToDisplay"></tr>
</table>
