.table{
  width: 90%;
  text-align: center!important;
 }
 
 .mat-column-ts {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 15% !important;
   width: 15% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-threatId {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 10% !important;
   width: 10% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-ipSrc {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 15% !important;
   width: 15% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-ipDst {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 15% !important;
   width: 15% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-label {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 15% !important;
   width: 15% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }

 .mat-column-ruleType {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-severity {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell {
  text-align: right;
  font-weight: bold;
  font-size: 1.5rem;
  background-color:lightblue; 
}

td.mat-cell{
  font-size: 1.3rem;
  height: 2rem;;
}

.gravity-label{
  width:10rem;
  color:white;
}

.critical{
  background-color: red;
  font-weight: bold;
}

.high{
  background-color:yellow;
  color:black;
  font-weight: bold;
}

.medium{
  background-color: orange;
  font-weight: bold;
}

.low{
  font-weight: bold;
  background-color: green;
}

.clickable{
  cursor:pointer;
  color: blue;
  font-weight: bold;
}

.align-right{
  text-align: right;
  padding-bottom: .2rem;
  padding-right: .2rem;
}

.main-container{
  margin-bottom: 4rem;
}

button{
  font-size: 1.5rem;
}

::ng-deep .mat-select-value {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .mat-option-text {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.low{
  background-color: yellowgreen;
  width: 5rem;
  justify-content: center;
}
.medium{
  background-color: yellow;
  width: 5rem;
  justify-content: center;
}
.high{
  background-color: orange;
  width: 5rem;
  justify-content: center;
}
.critical{
  background-color: red;
  width: 5rem;
  text-align: center;
}
